BODY {
	FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 20px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #c538b4; PADDING-TOP: 0px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #c538b4; PADDING-TOP: 0px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
H3 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,Sans Serif
}
.container {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; WIDTH: 500px; PADDING-TOP: 0px
}
.contentTop {
	FONT-SIZE: 3px;
	FLOAT: left;
	MARGIN: 0px 3px 0px 0px;
	WIDTH: 560px;
	HEIGHT: 3px
}
.pageHeader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 980px; PADDING-TOP: 0px;
	background-color:#FFFFFF;
}
.masthead {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 978px; PADDING-TOP: 0px; HEIGHT: 170px
}
.masthead1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 978px; PADDING-TOP: 0px; HEIGHT: 290px; background-color:#FFFFFF;
}
.mastheadGap {
	FLOAT: left; WIDTH: 670px; HEIGHT: 290px; padding-top:5px;
}
.footer A {
	COLOR: #000; TEXT-DECORATION: none;
}
.secondaryMenu {
	PADDING-RIGHT: 4px;
	MARGIN-TOP: 0px;
	PADDING-LEFT: 2px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 3px;
	WIDTH: 744px;
	COLOR: #ADD3E9;
	PADDING-TOP: 5px;
	height:35px;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	TEXT-ALIGN: right;
}
.secondaryMenu A {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; COLOR: #333333; TEXT-DECORATION: none
}
.secondaryMenu IMG {
	VERTICAL-ALIGN: middle
}
* HTML .secondaryMenu {
	WIDTH: 744px
}
#topnav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#topnav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#topnav A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#topnav A:hover {
	COLOR: #000000;
}
#topnav LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#topnav LI A {
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	text-align: center;	
}
#topnav LI:hover > A {
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	text-align: center;
}
#topnav LI.sfhover A.headnavref {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #ffec00;
	text-align: center;
}
#topnav LI.topnavhead {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	text-align: center;
	height: 33px;
}

#bodyfooter a:link {
	color: #003399;
	text-decoration: none;
}
#bodyfooter a:visited {
	color: #003399;
	text-decoration: none;
}
#bodyfooter a:hover {
	color: #000000;
	text-decoration: none;
}
#bodyfooter a:active {
	color: #003399;
	text-decoration: none;
}
#bodyfooter a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
a:link {
	color: #003399;
	text-decoration: none;
	font-size:13px;
}
a:visited {
	color: #003399;
	text-decoration: none;
	font-size:13px;
}
a:hover {
	color: #000000;
	text-decoration: none;
	font-size:13px;
}
a:active {
	color: #003399;
	text-decoration: none;
	font-size:13px;
}
.footer{
	height:20px;
	padding-top:10px;
	background-color:#ffec00;
}