* {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

BODY {
	font-family: 'Inter Variable', 'Inter', 'Segoe UI', sans-serif;
	font-size: 13px;
	background-attachment: fixed;
	BACKGROUND: url(../images/bg.jpg);
	background-repeat:repeat;
}
OBJECT {
	outline: none
}

/*box dang nhap*/

H1 {
	FONT-WEIGHT: bold; FONT-FAMILY: 'Inter Variable', 'Inter', 'Segoe UI', sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-FAMILY: 'Inter Variable', 'Inter', 'Segoe UI', sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-FAMILY: 'Inter Variable', 'Inter', 'Segoe UI', sans-serif
}
H4 {
	FONT-WEIGHT: bold; FONT-FAMILY: 'Inter Variable', 'Inter', 'Segoe UI', sans-serif
}
H5 {
	FONT-WEIGHT: bold; FONT-FAMILY: 'Inter Variable', 'Inter', 'Segoe UI', sans-serif
}
.left {
	FONT-SIZE: 0px; FLOAT: left
}
.right {
	FONT-SIZE: 0px; FLOAT: right
}
.clear {
	CLEAR: both; FONT-SIZE: 0px
}

#container {
	MARGIN: 0px auto; WIDTH: 980px
	PADDING-TOP: 4px;
}
.box_login {
	width: 300px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color:#fdf46c;
	color:#333333;
	font-family:'Inter Variable', 'Inter', 'Segoe UI', sans-serif;
	height: 18px;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
	padding-top: 5px;
	padding-left:5px;
}
#bodycontent {
	/*BORDER-TOP: #fff 1px solid;*/
	PADDING-TOP: 0px;
	ZOOM: 1;
	FONT-FAMILY: 'Inter Variable', 'Inter', 'Segoe UI', sans-serif;
	font-size: 12px;
	line-height: 20px;
	background-color: #FFFFFF;
	width: 980px;
	background-position: top;
	margin:0px auto;
	text-align:center;
	height:inherit;
}

.bodyfooter {
	PADDING-TOP: 5px;
	font-size: 12px;
	width: 980px;
	bottom:0px;
	background-position: bottom;
	background-attachment:fixed;
}
#heightfooter {
	width: 980px;
	height:230px;
	background-position: bottom;
	margin:auto;
}
#leftcol {
	FLOAT: left; MARGIN-LEFT: 3px; WIDTH: 766px; PADDING-TOP: 0px; _margin-left: 3px
}
#rightcol {
	FLOAT: left;
	WIDTH: 213px;
	padding-left: 4px;
}
#rightcol_member {
	FLOAT: left;
	WIDTH: 213px;
	padding-left: 4px;
	background-color:#FFFFFF;
}
#tabs_detail {
	FLOAT: left;
	MARGIN: 7px 0px 0px 8px;
	WIDTH: 542px;
	background-color:#FFFFFF;
	FONT-SIZE: 14px
}
#tabs_bg {
	FLOAT: left;
	padding:7px 8px 8px 9px;
	WIDTH: 542px;
}
#tabs {
	FLOAT: left; MARGIN:3px 10px 0px 0px; WIDTH: 542px; max-width: : 542px;
	FONT-SIZE: 14px
}
.tabs_detail {
	MARGIN: 7px 0px 0px 8px;
	background-color:#FFFFFF;
}
.rbl_box_right {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	WIDTH: 200px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	text-align: left;
	margin-top: 3px;
}
.rbl_box {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 0px;
	WIDTH: 198px;
	COLOR: #333333;
	margin-top: 3px;
}
.bg_menu {
	background-color:#FFFFFF;
	height:500px;
}
.rbl_box H3 {
	FONT-SIZE: 13px
}
.rbl_box_ft {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	HEIGHT: 10px;
	WIDTH: 217px;
	background-image: url(../images/rightnav_box_ft.png);
	background-repeat: no-repeat;
}
.margin_poster_right {
	WIDTH: 200px;
	text-align: center;
	padding-left: 0px;
	padding-top: 6px;
}
.margin_poster_left {
	WIDTH: 195px;
	text-align: center;
	padding-top: 6px;
}
#left-nav {
	FLOAT: left;
	padding-top: 0px;
	padding-bottom:7px;
}
#right-nav {
	FLOAT: left;
	padding-top: 0px;
	padding-bottom:7px;
}
#menu ul{
list-style: none;
font-family: 'Inter Variable', 'Inter', 'Segoe UI', sans-serif;
font-size: 12px;
padding: 0;
width:100%;
}
/* 
#menu ul li{
float:left;
position:relative;
width:15%;
border-right:#000 solid 1px;
border-top:#00d2e9 solid 1px;
border-bottom:#000 solid 1px;
background-color:#00d2e9;
text-align:center;
font-weight:bold;
}
 
#menu ul a{
	text-decoration:none;
	color:#000;
	display:block;
	padding:12px 20px;
}
 
#menu ul div a{
padding-top: 12px;
font-size:12px;
color:#FFF;
border-top:1px #00d2e9 solid;
background-color:#000;
width:25%;
text-align:left;
}
#menu ul a:hover{
background:#000;
color:#FFF;

}
#menu ul div a:hover{
padding-top: 12px;
font-size:12px;
color:#000;
background-color:#00d2e9;
text-align:left;
display:block;
} 
//CSS Tao Menu Cap 2
#menu1 li ul a{
background:#444;
}
 
#menu1 li ul{
position:absolute;
display:none;
width:100%;
z-index:99999999;
background:#000;
color:#FFF;
text-align:left;
font-weight:bold;
}
 
#menu1 li:hover ul{
display:block;
color:#FFF;
}
#menu1 ul div a{
padding-top: 12px;
font-size:12px;
color:#FFF;
border-top:1px #00d2e9 solid;
background-color:#000;
display:none;
}
*/

/*.....*/
#primary_nav_wrap
{
	margin-left:5px;
	background-color:#003399;
	
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	background-color:#003399;

}

#primary_nav_wrap ul a
{
	display:block;
	color:#fff;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	background-color: #003399;
	font-family:'Inter Variable', 'Inter', 'Segoe UI', sans-serif;
	
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
	
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#FF0000;
	
}

#primary_nav_wrap ul li a :hover
{
	background-color:#FF0000;
	color:#0099FF;
}
#primary_nav_wrap ul li ul a
{
	display:block;
	color:#fff;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 5px;
	background-color: #0099FF;
	font-family:'Inter Variable', 'Inter', 'Segoe UI', sans-serif;
	text-align:left;
	
}
#primary_nav_wrap ul li ul a:hover
{
	display:block;
	color:#fff;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 5px;
	background-color: #003399;
	font-family:'Inter Variable', 'Inter', 'Segoe UI', sans-serif;
	text-align:left;
	
}
#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	color:#003399;
	padding:0;
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px;
	color:#003399;
	border-bottom:#000000 1px dotted;
	border-left:#000000 1px dotted;
	border-right:#000000 1px dotted;
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%;
	
}

#primary_nav_wrap ul li:hover > ul
{
	display:block;
	
}
/*.....*/

.vtnav_box {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: url(../images/vtnav_top1.png) #fff no-repeat 50% top; FLOAT: center; PADDING-BOTTOM: 0px; MARGIN:0px 9px 0px; WIDTH: 180px; PADDING-TOP: 2px
}
.vtnav_box1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 4px; BACKGROUND: url(../images/vtnav_top.png) #fff no-repeat 50% top; FLOAT: center; PADDING-BOTTOM: 0px; MARGIN:0px 0px 0px; WIDTH: 188px; PADDING-TOP: 2px
}

.vt_menu {
	COLOR: #000000;
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: 50% top;
	text-align:left;
	
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #ccc;
	border-right-color: #ccc;
	border-bottom-color: #ccc;
	border-left-color: #ccc;
	margin-bottom:8px;
}
.vt_menu H3 {
	PADDING-RIGHT: 15px;
	PADDING-LEFT: 15px;
	FONT-SIZE: 13px;
	PADDING-BOTTOM: 0px;
	COLOR: #003399;
	PADDING-TOP: 0px
}
.vt_menu IMG {
	VERTICAL-ALIGN: middle; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.vt_menu A {
	COLOR: #003399;
	TEXT-DECORATION: none
	
}
.vt_menu A:visited {
	COLOR: #003399;
	TEXT-DECORATION: none
}
.vt_menu A:hover {
	COLOR: #000000;
	TEXT-DECORATION: none
}
.vt_menu UL {
	ZOOM: 1
}
.vt_menu UL LI {
	LIST-STYLE-TYPE: none
}
.vt_menu UL LI .title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.vt_menu .menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/menu_bottom.gif) no-repeat center bottom; PADDING-BOTTOM: 10px; MARGIN: 12px 0px 0px; PADDING-TOP: 0px;
	font-weight:bold;
}
.vt_menu .menu1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 10px; MARGIN: 12px 10px 0px; PADDING-TOP: 0px
}
.vt_menu .menu_vach_ngang {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(../images/menu_bottom.gif) no-repeat center bottom; PADDING-BOTTOM: 10px; padding-top:10px;
}
.vt_menu .menu_top {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; BACKGROUND: url(../images/menu_bottom.gif) no-repeat center bottom; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px; PADDING-TOP: 0px
}
.vtnav_box-ft {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	HEIGHT: 10px;
	WIDTH: 205px;
	background-image: url(../images/rightnav_box_ft1.png);
	background-repeat: no-repeat;
}

.button
{
	background-image:url(../images/nen_button.jpg);
	background-repeat:no-repeat;
	color:#FFFFFF;
	width:85px;
	font-family:'Inter Variable', 'Inter', 'Segoe UI', sans-serif;
	height: 28px;
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-bottom: 5px;
	font-weight: bold;
}
.vt_menu .menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; BACKGROUND: url(../images/menu_bottom.gif) no-repeat center bottom; PADDING-BOTTOM: 7px; MARGIN: 9px 0px 0px; PADDING-TOP: 0px
}
.vt_menu1 H3 {
	PADDING-RIGHT: 15px;
	PADDING-LEFT: 30px;
	FONT-SIZE: 13px;
	PADDING-BOTTOM: 0px;
	COLOR: #003399;
	PADDING-TOP: 0px
}
.vt_menu1 IMG {
	VERTICAL-ALIGN: middle; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.vt_menu1 A {
	COLOR: #003399; TEXT-DECORATION: none
}
.vt_menu1 A:visited {
	COLOR: #003399; TEXT-DECORATION: none
}
.vt_menu1 A:hover {
	COLOR: #000000;
	TEXT-DECORATION: none
}
.vt_menu1 UL {
	ZOOM: 1
}
.vt_menu1 UL LI {
	LIST-STYLE-TYPE: none
}
.vt_menu1 UL LI .title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.vt_menu1 .menu {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(../images/menu_bottom.gif) no-repeat center bottom; PADDING-BOTTOM: 7px; MARGIN: 9px 0px 0px; PADDING-TOP: 0px
}
.vt_menu1 .menu_hd {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; BACKGROUND: url(../images/menu_bottom.gif) no-repeat center bottom; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 0px; PADDING-TOP: 3px
}
.vt_menu .menu1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/menu_bottom.gif) no-repeat center bottom; PADDING-BOTTOM: 7px; MARGIN: 0px 0px 0px; PADDING-TOP: 0px
}
.vt_menu .menu2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 6px 0px 0px; PADDING-TOP: 0px; font-weight:normal;
}
.vt_menu .menu3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 6px 0px 0px; PADDING-TOP: 0px
}
.vt_menu .menu_top {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(../images/menu_bottom.gif) no-repeat center bottom; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px; PADDING-TOP: 0px
}
.maincontent_ink {
	PADDING-BOTTOM: 0px;
	WIDTH: 537px;
	PADDING-TOP: 0px;
	background-repeat: repeat;
	background-color:#FFFFFF;
	text-align:left;
	line-height:30px;
}
.title_main{
	PADDING-RIGHT: 18px;
	PADDING-LEFT: 18px;
	FONT-SIZE: 13px;
	PADDING-BOTTOM: 2px;
	COLOR: #003399;
	PADDING-TOP: 8px;
	HEIGHT: 25px;
	font-weight: bold;
}
.title_product{
	FONT-SIZE: 12px;
	COLOR: #003399;
	font-weight: bold;
	text-align: center;
	padding-left:5px;
	padding-right:5px;
}
.images_product{
	text-align: center;
	padding: 5px;
	
}
.login_box{
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-TOP: 5px;
	font-weight:bold;
	HEIGHT: 25px;
	text-align:center;
	background:url(../images/bg.jpg);
	background-repeat:repeat;
	border:1px solid #CCCCCC;
	margin-top:2px;
	margin-bottom:2px;
}

.title_parent{
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FONT-SIZE: 12px;
	color:#FFFFFF;
	PADDING-TOP: 5px;
	HEIGHT: 25px;
	font-weight: bold;
	text-align:left;
	background:url(../images/bg_hotline.jpg);
}
.title_line{
	BORDER-TOP: #003399 4px solid;
	PADDING-RIGHT: 10px;
	COLOR: #003399;
	HEIGHT: 27px;
}
.line_margin_bottom{

	margin-bottom:9px;
}
.title_line_footer{
	PADDING-RIGHT: 10px;
	COLOR: #003399;
	PADDING-TOP: 5px;
	HEIGHT: 77px;
	background-image: url(../images/footer.png);
	background-position: bottom;
	background-repeat:repeat;
}
.title_gdkt{
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FONT-SIZE: 13px;
	COLOR: #003399;
	PADDING-TOP: 5px;
	HEIGHT: 30px;
	font-weight: bold;
	text-align:left;
	background-image: url(../images/title_random.jpg);
}
.title_sp{
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 55px;
	color:#FFFFFF;
	PADDING-TOP: 4px;
	HEIGHT: 25px;
	font-weight: bold;
	text-align:left;
	background-image: url(../images/bg_title_sp.jpg);
	text-transform: uppercase;
}
.title_sp A {
	COLOR: #FFF;
	font-weight:bold;
	TEXT-DECORATION: none
	
}
.title_sp A:visited {
	COLOR: #FFF;
	font-weight:bold;
	TEXT-DECORATION: none
}
.title_sp A:hover {
	COLOR: #003399;
	font-weight:bold;
	TEXT-DECORATION: none
}
.maincontent .nav {
	PADDING-RIGHT: 15px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; PADDING-TOP: 10px; TEXT-ALIGN: right
}
.maincontent UL LI {
	LIST-STYLE-TYPE: none
}
.listing {
	font-size: 12px;
	background-color: #FFFFFF;
	padding-right: 0px;
	padding-left: 0px;
	width:540px;
}
.listing2 {
	padding-left:0px;
	padding-top: 0px;
	padding-bottom: 5px;
	height:150px;
	text-align:left;
}
.listing2 .listBox2 {
	CLEAR: both;
	FLOAT: left;
	
}
.listing2 .listBox2 .c_left {
	FLOAT: left; WIDTH: 80px;
}
.listing2 .listBox2 .c_left A IMG {
	
}
.listing2 .listBox2 .c_center1 {
padding-left:5px;
	FLOAT: left;
	PADDING-TOP: 5px;
	vertical-align:top;
	width:150PX;
}
.listing2 .listBox2 .c_center {
	PADDING-LEFT: 0px;
	padding-right:0px;
	FLOAT: left;
	PADDING-TOP: 5px;
	vertical-align:top;
}


.price_normal {
	font-size: 12px;
	font-weight: bold;
	text-align:center;
}
.listing_ink {
	margin-top: 6px;
	margin-right: 20px;
	margin-bottom: 6px;
	margin-left: 20px;
	font-size: 12px;
	line-height: 20px;
}
.listing .title_orther {
	PADDING-RIGHT: 18px;
	PADDING-LEFT: 18px;
	FONT-SIZE: 13px;
	PADDING-BOTTOM: 2px;
	COLOR: #003399;
	PADDING-TOP: 8px;
	HEIGHT: 25px;
	font-weight: bold;
}
/*lox list*/
.listing .listBox {
	CLEAR: both;
	FLOAT: left;
	WIDTH: 540px;
	padding-top: 10px;
}
.listing .listBox .c_left {
	FLOAT: left; WIDTH: 110px;
}
.listing .listBox .c_left A IMG {
	
}
.listing .listBox .c_center1 {
padding-left:0px;
	FLOAT: left;
	PADDING-BOTTOM: 5px;
	PADDING-TOP: 5px;
	text-align: justify;
	width:430px;
}
.listing .listBox .c_center {
	PADDING-LEFT: 0px;
	padding-right:10px;
	FLOAT: left;
	PADDING-BOTTOM: 5px;
	PADDING-TOP: 5px;
	text-align: justify;
	width:540px;
}
.listing .listBox .c_center H3 {
	FONT-SIZE: 12px; HEIGHT: 25px
}

.listing .listBox .c_center .status {
	PADDING-TOP: 3px
}

/* page ink*/
H2.bar {
	FONT-SIZE: 14px
}
.khung_sanpham {
	TEXT-DECORATION: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #eeeeee;
	border-right-color: #eeeeee;
	border-bottom-color: #eeeeee;
	border-left-color: #eeeeee;
	padding:5px;
}
.khung_tintuc {
	padding:5px;
}
.frame_product {
	TEXT-DECORATION: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #ccc;
	border-right-color: #ccc;
	border-bottom-color: #ccc;
	border-left-color: #ccc;
	margin-bottom:8px;
}
.frame {
	TEXT-DECORATION: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #ccc;
	border-right-color: #ccc;
	border-bottom-color: #ccc;
	border-left-color: #ccc;
	width:170px;
	height:240px;
}
.frame_product_margin {
	text-align:left;
	padding:1px;
	padding-left:5px;
	padding-bottom:5px;
	padding-top:5px;
}
.frame_product_in {
	width:90%;
	margin-bottom:10px;
	padding-left:10px;
}
/*khung gia usd*/
.gia_usd {
	color:#FF0000;
	height: 20px;
	font-weight: bold;
	text-align: center;
	padding-bottom:10px;
	width:100%;
}
.price {
	color:#FF0000;
	height: 20px;
	font-weight: bold;
	text-align: left;
	padding-bottom:5px;
	width:100%;
}
/* vach ngang*/
.vach_ngang {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cccccc;
	padding-right: 10px;
}
.menu_vach_ngang {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; BACKGROUND: url(../images/menu_bottom.gif) no-repeat center bottom; PADDING-BOTTOM: 10px;
}
/* dau sao*/
.dau_sao {
	color: #FF0000;
}
/* papge*/
.box_timkiem {
	color:#333333;
	font-family:'Inter Variable', 'Inter', 'Segoe UI', sans-serif;
	height: 14px;
	font-size: 11px;
	text-align: left;
	vertical-align: middle;
	padding-top: 2px;
	padding-left:5px;
}
/*box dang nhap*/
.box_login1 {
	width: 160px;
	height: 17px;
	margin-left:360px;
	color:#CCCCCC;
	padding-left:5px;
	padding-top:2px;
	background-repeat:no-repeat;
	background-position:right;
	font-family:'Inter Variable', 'Inter', 'Segoe UI', sans-serif;
	font-size:12px;
	border:1px solid #7f9db9;
}
.caption
{
  display:none;
}
.search_icon {
	width: 22px;
	height:21px;
	background-image:url(../images/search.png);
	color:#CCCCCC;
	background-repeat:no-repeat;
	font-family:'Inter Variable', 'Inter', 'Segoe UI', sans-serif;
	border:1px solid #7f9db9;
	position:absolute;
}
/*box input text*/
.box_input_text {
	background-image:url(../images/form_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #7f9db9;
	color:#333333;
	width:360px;
	font-family:'Inter Variable', 'Inter', 'Segoe UI', sans-serif;
	height: 20px;
	font-size: 12px;
	padding-top:5px;
	padding-left:10px;
}
/*textarea_yeucau*/
.textarea_yeucau {
	background-image:url(../images/form_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #7f9db9;
	color:#333333;
	padding:5px;
	width:382px;
	margin-top:4px;
	margin-bottom:4px;
	font-family:'Inter Variable', 'Inter', 'Segoe UI', sans-serif;
	height: 150px;
	font-size: 12px;
}
/*textarea_yeucau1*/
.textarea_yeucau1 {
	background-image:url(../images/form_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #7f9db9;
	color:#333333;
	padding:5px;
	width:468px;
	margin-right:10px;
	margin-top:4px;
	margin-bottom:4px;
	font-family:'Inter Variable', 'Inter', 'Segoe UI', sans-serif;
	height: 150px;
	font-size: 12px;
}/*textarea_yeucau1*/
.textarea {
	background-image:url(../images/form_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #7f9db9;
	color:#333333;
	padding:5px;
	margin-right:10px;
	margin-top:4px;
	margin-bottom:4px;
	font-family:'Inter Variable', 'Inter', 'Segoe UI', sans-serif;
	height: 150px;
	font-size: 12px;
}
.box_specification {
	padding-left:10px;
	margin-top:4px;
	height: 28px;
	text-align: left;
	vertical-align: middle;
	font-size: 12px;
	font-weight:bold;
	background-color:#eeeeee;
	
}
.box_specification_colum_left {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #eeeeee;
	padding-left: 10px;
	text-align: left;
	vertical-align: middle;
	width:20%;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #eeeeee;
	height:28px;
	background-color:#F7F7F7	
}
.box_specification_colum_right {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #eeeeee;
	padding-left: 10px;
	text-align: left;
	vertical-align: middle;
}
/*box input text 1*/
.box_input_text1 {
	background-image:url(../images/form_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #7f9db9;
	color:#333333;
	padding-top:6px;
	padding-left:5px;
	margin-top:4px;
	font-family:'Inter Variable', 'Inter', 'Segoe UI', sans-serif;
	height: 20px;
	font-size: 12px;
}
.header_sp
{
	color:#003399;
	font-size: 14px;
	font-weight: bold;
	padding-top:5px;
	padding-bottom: 5px;
	font-family: sans-serif;
}
.header_menu
{
	color:#003399;
	font-size: 12px;
	font-weight: bold;
}
.chuxam {
	color:#999999;
	font-size: 12px;
}
.indam {
	font-size: 12px;
	line-height: 30px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}
.font8 {
	font-size: 9px;
}
.font11
{
	font-size: 11px;
}
.padding_top {
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom:7px;
}
.header_model {
	TEXT-ALIGN: left;
	font-size: 12px;
	color: #000000;
	width: 300px;
}
.header_model_top {
	border-top:#FFCCFF solid 2px;
	TEXT-ALIGN: left;
	font-size: 12px;
	color: #000000;
	width: 300px;
	padding-left: 12px;
	font-weight: bold;
	background-image: url(../images/bg_gdkt.png);
}
.header_driver {
	border-top:#FFCCFF solid 2px;
	TEXT-ALIGN: center;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	WIDTH:80px;
	background-image: url(../images/bg_gdkt.png);
	background-color: #FFECFF;
	height: 30px;
}
#notice_panel {
	border:1px solid #000066;
	background-color:#FFFFEC;
	padding:20px;
	position:fixed;
	right:1px;
	bottom:0px;
}
#tkbmini_container {
	border:1px solid #CCCCCC;
	background-color:#F2F2F2;
	padding:2px;
	position:fixed;
	left:1px;
	bottom:1px;
	width:200px;
}
#tkbmini_panel {
	background-color:#F2F2F2;	
}
#tkbmini_title {
	color:#336699;
	padding-bottom:5px;
	padding-top:2px;
	font-weight:bold;
	text-align:center;
	clear:both;
	background:url(body/menu_group.png) no-repeat left;
	width:100%;
}
#tkbmini_msg {
	background-color:#FFFFEC;
	font-weight:bold;
	color:#FF0000;
	padding:3px;
}
#floatbar { position:fixed;top:0px;left:0px; }